<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.patient.schedule.SpecialityActivity"></activity>
        <activity
            android:name=".user.patient.ScheduleUserActivity"
            android:label="@string/detalhes_agendamento"
            android:parentActivityName=".user.patient.HistoryActivity"/>
        <activity android:name=".RepareActivity" />
        <activity
            android:name=".user.patient.RecordUserActivity"
            android:label="@string/detalhes_prontuario"
            android:parentActivityName=".user.patient.RecordActivity" />
        <activity
            android:name=".user.patient.RefactorPasswordActivity"
            android:label="@string/alterar_senha"
            android:parentActivityName=".user.patient.DetailsAcount" />
        <activity
            android:name=".user.patient.DetailsAcount"
            android:label="@string/configuracoes"
            android:parentActivityName=".user.patient.menu.MenuUsrActivity" />
        <activity android:name=".user.patient.menu.MenuUsrActivity" />
        <activity
            android:name=".user.patient.RecordActivity"
            android:label="@string/titulo_prontuario"
            android:parentActivityName=".user.patient.menu.MenuUsrActivity" />
        <activity
            android:name=".user.patient.schedule.CalendarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".user.patient.schedule.ApresentationActivity" />
        <activity
            android:name=".user.patient.HistoryActivity"
            android:label="@string/historicotitle"
            android:parentActivityName=".user.patient.menu.MenuUsrActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/titulo_cadastrar"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/titulo_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>